.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 15px 0px;
    width: 1160px;
}

.itemContainer__span {
    display: block;
    width: 1050px;
    height: 45px;
    line-height: 31px;
    border: none;
    border-radius: 7px;
    padding: 7px;
    box-sizing: border-box;
    background-color: #333333;
    color: #E8E8E8;
}

.checkMark {
    display: block;
    height: 45px;
    width: 75px;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 7px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #E8E8E8;
}

.checkMark:hover,
.checkBox:checked~.checkMark {
    background-color: #138066;
}