.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 15px 0px;
    width: 1160px;
}

.itemContainer:last-child {
    margin: 0;
}