<span *ngIf="marked === false" class="span span--notChecked">{{toDo}}</span>
<span *ngIf="marked === true" class="span span--checked">{{toDo}}</span>
<div class="iconsContainer">
    <label for={{toDo}} class="checkboxLabel">
        <input (click)="tickItem()" type="checkbox" id={{toDo}} class="checkBox" name={{toDo}} hidden>
        <div class="checkMark"><i class="fas fa-check"></i></div>
    </label>
    <div class="trashBin" (click)="removeItem();">
        <i class="fas fa-trash"></i>
    </div>
</div>