.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input {
    display: block;
    width: 1000px;
    height: 50px;
    font-style: bold;
    transition: 0.5s;
    border: none;
    border-radius: 7px;
    padding: 7px;
    box-sizing: border-box;
    background-color: #E8E8E8;
    color: #333333;
}